@model GestionCitaDental.Models.TblUsuario

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TblUsuario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">NOMBRE DE USUARIO</label>
                <input asp-for="Usuario" class="form-control" />
                <span asp-validation-for="Usuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">CONTRASEÑA</label>
                <input asp-for="Contraseña" class="form-control" />
                <span asp-validation-for="Contraseña" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">CORREO</label>
                <input asp-for="IdCorreoNavigation.Correo" class="form-control" />
                <span asp-validation-for="IdCorreoNavigation.Correo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">TIPO DE USUARIO</label>
                <select asp-for="IdTipoUsuario" class ="form-control" asp-items="ViewBag.IdTipoUsuario"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
