@model GestionCitaDental.Models.TblCitum

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TblCitum</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">PACIENTE</label>
                <select asp-for="IdPaciente" class="form-control" asp-items="ViewBag.IdPaciente"></select>
            </div>
            <div class="form-group">
                <label class="control-label">SERVICIO</label>
                <select asp-for="IdProcedimiento" class="form-control" asp-items="ViewBag.IdProcedimiento"></select>
            </div>
            <div class="form-group">
                <label class="control-label">DOCTOR</label>
                <select asp-for="IdOdontologo" class="form-control" asp-items="ViewBag.IdOdontologo"></select>
            </div>
            <div class="form-group" style="display: none;">
                <label class="control-label">ESTADO DE CITA</label>
                <select asp-for="IdEstadoCita" class="form-control" asp-items="ViewBag.IdEstadoCita" ></select>
            </div>
            <div class="form-group">
                <label class="control-label">FECHA Y HORA DE CITA</label>
                <input asp-for="Fecha" type="datetime-local" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
