@model GestionCitaDental.Models.TblCitum

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TblCitum</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdCita" />
            <div class="form-group">
                <label class="control-label">NOMBRE DEL PACIENTE</label>
                <select asp-for="IdPaciente" class="form-control" asp-items="ViewBag.IdPaciente"></select>
                <span asp-validation-for="IdPaciente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">SERVICIO</label>
                <select asp-for="IdProcedimiento" class="form-control" asp-items="ViewBag.IdProcedimiento"></select>
                <span asp-validation-for="IdProcedimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">DOCTOR</label>
                <select asp-for="IdOdontologo" class="form-control" asp-items="ViewBag.IdOdontologo"></select>
                <span asp-validation-for="IdOdontologo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">ESTADO DE CITA</label>
                <select asp-for="IdEstadoCita" class="form-control" asp-items="ViewBag.IdEstadoCita"></select>
                <span asp-validation-for="IdEstadoCita" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">FECHA DE CITA</label>
                <input asp-for="Fecha" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
